@use "@/styles/utils/media-queries" as *;

.postsGrid {
	display: grid;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;

	@include media-min("md") {
		grid-template-columns: repeat(3, 1fr);
	}
}
