.title {
	margin-bottom: 2rem;
}
.email {
	color: indianred;
	font-weight: bold;
}

.github {
	color: black;
	font-weight: bold;
}

.linkedin {
	color: #1d87bd;
	font-weight: bold;
}

.info {
	font-size: 1.25rem;
	text-align: center;
	margin: 3rem 0 5rem;
}
