@import "../styles/utils/media-queries.scss";
@import "normalize.css/normalize.css";

:root {
	--max-width-sm: 710px;
	--max-width-md: 970px;
	--max-width-lg: 1140px;
	--border-radius: 12px;
	--font-headings: Oleo Script, Crimson Text, Arial, sans-serif;
	--font-body: Inconsolata, Arial, sans-serif;

	--brand-color: #e20101;
	--txt-color: #464646;
	--background-color: #f8f8f8;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: var(--txt-color);
	background: var(--background-color);
	font-family: var(--font-body);
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover:not(.no-hv) {
		border-bottom: 3px solid var(--brand-color);
		transition: 0.1s all ease;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-headings);
	margin: 2rem 0 1rem;
	line-height: 1;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.75rem;
}
h3 {
	font-size: 2.25rem;
}
h4 {
	font-size: 2rem;
}

blockquote {
	background-color: white;
	border-left: 3px solid var(--txt-color);
	margin: 2rem 0;
	padding: 0.5rem 2rem;
}

.section-container {
	margin: 0 1.5rem;

	@include media-min("sm") {
		margin: auto;
		max-width: var(--max-width-sm);
	}

	@include media-min("md") {
		max-width: var(--max-width-md);
	}

	@include media-min("lg") {
		max-width: var(--max-width-lg);
	}
}

.post-container {
	margin: 0 1.5rem;
	max-width: 700px;

	@include media-min("sm") {
		margin: auto;
	}
}

.code-no-language {
	background: rgb(241 235 235);
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1rem;
	padding: 0.15rem 0.5rem;
}

.post-image-block {
	img {
		display: block;
		margin: 2rem auto;
	}
}
